@using System.Security.Claims
@{
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}
<style>
    .hover-text-danger {
        cursor:pointer;
    }
</style>
<div class="main-content-container overflow-hidden">
    <div class="d-flex justify-content-between align-items-center flex-wrap gap-2 mb-4 mt-1">
        <h5 class="mb-0">View Products</h5>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb align-items-center mb-0 lh-1">
                <li class="breadcrumb-item">
                    <a href="~/Admin/Dashboard" class="d-flex align-items-center text-decoration-none">
                        <i class="ri-home-8-line fs-15 text-primary me-1"></i>
                        <span class="text-body fs-14 hover">Dashboard</span>
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <span>View Products</span>
                </li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-xxl-12 col-lg-12 col-md-12 col-12">
            <div class="table-card">
                <div class="d-flex justify-content-between align-items-center flex-wrap gap-3 p-3">
                    <form class="table-src-form position-relative m-0">
                        <input type="text" id="txtSearchProduct" class="form-control" placeholder="Search here...">
                        <div class="src-btn">
                            <span class="ti ti-search">search</span>
                        </div>
                    </form>
                    <a href="/Product/AddProductByDocs" class="btn btn-md btn-primary"><i class="ti ti-plus"></i> Add Product</a>
                </div>
                <div class="table-responsive table-responsive-xxl">
                    <table id="ProductTable" class="table table-hover align-middle w-100">
                        <thead>
                            <tr>
                                <th scope="col" class="fw-medium">Action</th>
                                <th scope="col" class="fw-medium">Sno</th>
                                <th scope="col" class="fw-medium">ChassisNo</th>
                                <th scope="col" class="fw-medium">Inv Price</th>
                                <th scope="col" class="fw-medium">Client Name</th>
                                <th scope="col" class="fw-medium">Ship Name</th>
                                <th scope="col" class="fw-medium">Terminal Name</th>
                                <th scope="col" class="fw-medium">Model Name</th>
                                <th scope="col" class="fw-medium">Maker Name</th>
                                <th scope="col" class="fw-medium">InventoryStatus</th>
                                <th scope="col" class="fw-medium">VehicleStatus</th>
                                <th scope="col" class="fw-medium">InsOrganization</th>
                                <th scope="col" class="fw-medium">InsDestination</th>
                                <th scope="col" class="fw-medium">InsStatus</th>
                                <th scope="col" class="fw-medium"><abbr data-title="InsDate">IDate</abbr></th>
                                <th scope="col" class="fw-medium">NFCNO</th>
                                <th scope="col" class="fw-medium">REFNO</th>
                                <th scope="col" class="fw-medium">YardInNo</th>
                                <th scope="col" class="fw-medium">YardInPlace</th>
                                <th scope="col" class="fw-medium">YardInDate</th>
                                <th scope="col" class="fw-medium">YardOutDate</th>
                                <th scope="col" class="fw-medium"><abbr data-title="Scheduled Shipping Date">SSDate</abbr></th>
                                <th scope="col" class="fw-medium"><abbr data-title="Shipping Date">SDate</abbr></th>
                                <th scope="col" class="fw-medium"><abbr data-title="VoyageNo">VNO</abbr></th>
                                <th scope="col" class="fw-medium"><abbr data-title="Storage Period In Days">SPD</abbr></th>
                                <th scope="col" class="fw-medium">ContainerNo</th>
                                <th scope="col" class="fw-medium">Mileage</th>
                                <th scope="col" class="fw-medium"><abbr data-title="Inner Cargo">IC</abbr></th>
                                <th scope="col" class="fw-medium"><abbr data-title="Reason Failure">RF</abbr></th>
                                <th scope="col" class="fw-medium"><abbr data-title="Date of Entry">DOE</abbr></th>
                                <th scope="col" class="fw-medium">Created by</th>
                                <th scope="col" class="fw-medium">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-center justify-content-sm-between align-items-center text-center flex-wrap gap-2 showing-wrap px-3 pb-3">
                    <span class="fs-15" id="lblpagedescription">Showing 1 to 10 of 50 entries</span>

                    <nav class="custom-pagination" aria-label="Page navigation">
                        <ul class="pagination mb-0 justify-content-center" id="pagination">
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/master/view-products.js"></script>
}