@using System.Security.Claims

@{
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}
<div class="main-content-container overflow-hidden">
    <div class="d-flex justify-content-between align-items-center flex-wrap gap-2 mb-4 mt-1">
        <h5 class="mb-0">Category Master</h5>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb align-items-center mb-0 lh-1">
                <li class="breadcrumb-item">
                    <a href="~/Admin/Dashboard" class="d-flex align-items-center text-decoration-none">
                        <i class="ri-home-8-line fs-15 text-primary me-1"></i>
                        <span class="text-body fs-14 hover">Dashboard</span>
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <span>Category Master</span>
                </li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-xxl-12 col-lg-12 col-md-12 col-12">
            <div class="table-card">
                <div class="d-flex justify-content-between align-items-center flex-wrap gap-3 p-3">
                    <form class="table-src-form position-relative m-0">
                        <input type="text" id="txtSearchCategory" class="form-control" placeholder="Search here...">
                        <div class="src-btn">
                            <span class="ti ti-search">search</span>
                        </div>
                    </form>
                    <button type="button" class="btn btn-md btn-primary" data-bs-toggle="modal" data-bs-target="#fSCmaster"><i class="ti ti-plus"></i> Add Category</button>
                </div>
                <div class="table-responsive">
                    <table id="CategoryTable" class="table align-middle w-100">
                        <thead>
                            <tr>
                                <th scope="col" class="fw-medium">Sno</th>
                                <th scope="col" class="fw-medium">Category Name</th>
                                <th scope="col" class="fw-medium">Title</th>
                                <th scope="col" class="fw-medium">Keyword</th>
                                <th scope="col" class="fw-medium"><abbr data-title="Date of Entry">DOE</abbr></th>
                                <th scope="col" class="fw-medium">Created by</th>
                                <th scope="col" class="fw-medium">Status</th>
                                <th scope="col" class="fw-medium">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table> 
                </div>
                <div class="d-flex justify-content-center justify-content-sm-between align-items-center text-center flex-wrap gap-2 showing-wrap px-3 pb-3">
                    <span class="fs-15" id="lblpagedescription">Showing 1 to 10 of 50 entries</span>
                    <nav class="custom-pagination" aria-label="Page navigation">
                        <ul class="pagination mb-0 justify-content-center" id="pagination">
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Add New Task -->
<div class="modal fade" id="fSCmaster" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog modal-dialog-slideout" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mb-0" id="modalLabelCategory">Add Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ti ti-x"></i>
                </button>
            </div>
            <div class="modal-body p-3">
                <input type="hidden" id="hdnCategoryId" />
                <div class="row">

                    <div class="col-lg-12">
                        <div class="mb-3">
                            <label class="label">Category Name</label>
                            <input type="text" class="form-control" id="txtCategory" placeholder="Category Name">
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="mb-3">
                            <label class="label">Title Tag</label>
                            <input type="text" class="form-control" id="txtCategoryTitle" placeholder="Title Tag">
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="mb-3">
                            <label class="label">Keyword Tag</label>
                            <input type="text" class="form-control" id="txtCategoryKeyword" placeholder="Keyword Tag">
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="mb-3">
                            <label class="label">Status</label>
                            <select class="form-select form-control" id="ddlCategoryStatus" aria-label="Floating label select example">
                                <option value="-1" selected>Select Staus</option>
                                <option value="1">Active</option>
                                <option value="0">In-Active</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="mb-3">
                            <label class="label">Description Tag</label>
                            <input type="text" class="form-control" id="txtCategoryDescription">
                        </div>
                    </div>



                </div>
            </div>
            <div class="modal-footer p-3">
                <button type="button" class="btn btn-md btn-danger fw-normal text-white" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-md btn-primary fw-normal text-white" id="btnAddCategory">Submit</button>
            </div>
        </div>
    </div>
</div>
@section Scripts { 
    <script src="~/js/master/category-master.js"></script>
}
