@using System.Security.Claims
@{
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}
<div class="main-content-container overflow-hidden">
    <div class="d-flex justify-content-between align-items-center flex-wrap gap-2 mb-4 mt-1">
        <h5 class="mb-0">Port Master</h5>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb align-items-center mb-0 lh-1">
                <li class="breadcrumb-item">
                    <a href="~/Admin/Dashboard" class="d-flex align-items-center text-decoration-none">
                        <i class="ri-home-8-line fs-15 text-primary me-1"></i>
                        <span class="text-body fs-14 hover">Dashboard</span>
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <span>Port Master</span>
                </li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-xxl-12 col-lg-12 col-md-12 col-12">
            <div class="table-card">
                <div class="d-flex justify-content-between align-items-center flex-wrap gap-3 p-3">
                    <form class="table-src-form position-relative m-0">
                        <input type="text" id="txtSearchPort" class="form-control" placeholder="Search here...">
                        <div class="src-btn">
                            <span class="ti ti-search">search</span>
                        </div>
                    </form>
                    <button type="button" class="btn btn-md btn-primary" data-bs-toggle="modal" data-bs-target="#frmPortmaster"><i class="ti ti-plus"></i> Add Ship</button>
                </div>
                <div class="table-responsive">
                    <table id="PortTable" class="table align-middle w-100">
                        <thead>
                            <tr>
                                <th scope="col" class="fw-medium">Sno</th>
                                <th scope="col" class="fw-medium">Country</th>
                                <th scope="col" class="fw-medium">PortName</th>
                                <th scope="col" class="fw-medium">Email</th>
                                <th scope="col" class="fw-medium">Contact No</th>
                                <th scope="col" class="fw-medium">Fax No</th>
                                <th scope="col" class="fw-medium">Address</th>
                                <th scope="col" class="fw-medium"><abbr data-title="Date of Entry">DOE</abbr></th>
                                <th scope="col" class="fw-medium">Created by</th>
                                <th scope="col" class="fw-medium">Status</th>
                                <th scope="col" class="fw-medium">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-center justify-content-sm-between align-items-center text-center flex-wrap gap-2 showing-wrap px-3 pb-3">
                    <span class="fs-15" id="lblpagedescription">Showing 1 to 10 of 50 entries</span>
                    <nav class="custom-pagination" aria-label="Page navigation">
                        <ul class="pagination mb-0 justify-content-center" id="Portpagination">
                        </ul>
                    </nav>
                </div>


            </div>
        </div>
    </div>
</div>

<!-- Modal Add New Task -->
<div class="modal fade" id="frmPortmaster" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mb-0" id="modalLabelPort">Add Port</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ti ti-x"></i>
                </button>
            </div>
            <div class="modal-body p-3">
                <input type="hidden" id="hdnPortId" value="0" />
                <div class="row">
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label class="label">Country Name</label>
                            <select class="form-select form-control" id="ddlCountry" aria-label="Floating label select example">
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label class="label">Port Name</label>
                            <input type="text" class="form-control" id="txtPortName" placeholder="Enter Port Name">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label class="label">Email</label>
                            <input type="text" class="form-control" id="txtPortEmail" placeholder="Email id">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label class="label">Contact Number</label>
                            <input type="text" class="form-control only-number" id="txtPortContact" data-maxlength="10" placeholder="Contact Number">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label class="label">Fax No</label>
                            <input type="text" class="form-control" id="txtPortFax" placeholder="Fax">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label class="label">Status</label>
                            <select class="form-select form-control" id="ddlPortStatus" aria-label="Floating label select example">
                                <option value="-1" selected>Select Staus</option>
                                <option value="1">Active</option>
                                <option value="0">In-Active</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label class="label">Address</label>
                            <textarea class="form-control" id="txtPortAddress" rows="1" placeholder="Address"></textarea>
                        </div>
                    </div>


                </div>
            </div>
            <div class="modal-footer p-3">
                <button type="button" class="btn btn-md btn-danger fw-normal text-white" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-md btn-primary fw-normal text-white" id="btnPortAdd">Submit</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/common/dropdowns.js"></script>
    <script>

        let portData = [];
        let pageSize = 50;         // records per page
        let currentPage = 1;
        let filteredPortData = [];
        $(document).ready(function () {
            bindDropdown("COUNTRY", "#ddlCountry");
            LoadPortList();
        });

        function LoadPortList() {
            $.ajax({
                url: "/Ship/GetPortList",
                type: "GET",
                success: function (res) {
                    if (res.status === 1) {
                        portData = res.data || [];
                        filteredPortData = portData;
                        currentPage = 1;
                        RenderTable();
                        renderPageInfo();
                    }
                }
            });
        }
        function RenderTable() {
            let tbody = "";
            let start = (currentPage - 1) * pageSize;
            let end = start + pageSize;
            let pageData = filteredPortData.slice(start, end);
            $.each(pageData, function (i, row) {
                tbody += `
                                                                                                        <tr>
                                                                                                            <td>${start + i + 1}</td>
                                                                                                            <td>${row.country}</td>
                                                                                                            <td>${row.portName}</td>
                                                                                                            <td>${row.email}</td>
                                                                                                            <td>${row.contact}</td>
                                                                                                            <td>${row.fax}</td>
                                                                                                            <td>${row.address}</td>
                                                                                                            <td>${row.createdOn}</td>
                                                                                                            <td>${row.createdBy}</td>
                                                                                                            <td>
                                                                                                            ${row.isActive
                        ? '<span class="text-success bg-success bg-opacity-10 default-badge">Active</span>'
                        : '<span class="text-danger bg-danger bg-opacity-10 default-badge">Inactive</span>'
                    }
                                                                                                            </td >
                                                                                                            <td>
                                                                                                                <div class="d-flex justify-content-start gap-3">
                                                                                                                    <button class="bg-transparent p-0 border-0 hover-text-success btnEdit" data-id="${row.id}" data-title="Edit">
                                                                                                                        <i class="ti ti-pencil fs-16"></i>
                                                                                                                    </button>
                                                                                                            <button class="bg-transparent p-0 border-0 hover-text-danger btnDelete" data-id="${row.id}" data-title="Delete">
                                                                                                                <i class="ti ti-trash fs-16">delete</i>
                                                                                                            </button>
                                                                                                                    </div>
                                                                                                            </td>
                                                                                                        </tr >
                                                                                            `;

            });
            $("#PortTable tbody").html(tbody);
            RenderPagination();
        }
        function RenderPagination() {
            let totalPages = Math.ceil(filteredPortData.length / pageSize);
            let pageHtml = "";
            for (let i = 1; i <= totalPages; i++) {
                pageHtml += `
                                                                            <li class="page-item">
                                                                                <button class="page-link ${i === currentPage ? 'active' : ''} page-btn" data-page="${i}">
                                                                                    ${i}
                                                                                </button>
                                                                            </li>
                                                                        `;
            }
            $("#Portpagination").html(pageHtml);
        }
        $(document).on("click", ".page-btn", function () {
            currentPage = parseInt($(this).data("page"));
            RenderTable();
            renderPageInfo();
        });
        function renderPageInfo() {
            let page = parseInt(currentPage);
            let size = parseInt(pageSize);
            let total = filteredPortData.length;
            let start = (page - 1) * size + 1;
            let end = page * size;
            if (end > total) { end = total };
            if (total === 0) {
                $("#lblpagedescription").html(`
                                                                                    <span class="text-danger">
                                                                                        <i class="ti ti-info-circle"></i>
                                                                                        No data found
                                                                                    </span>
                                                                                `);
                return;
            }
            let desc = `Showing ${start} to ${end} of ${total} entries`;
            $("#lblpagedescription").text(desc);
        }


        /* ==============================
           VALIDATION
        ================================*/
        function validatePort() {
            if (!validateRequired("ddlCountry", ["", "-1"], "Country is required")) return false;
            if (!validateRequired("txtPortName", ["", " "], "Port Name is required")) return false;
            if (!validateEmail("txtPortEmail", "Email is required!", "Enter a valid email address")) return false;
            if (!validateContactNumber("txtPortContact", "Contact number is required !", "Enter a valid contact number !")) return false;
            if (!validateRequired("txtPortFax", ["", " "], "Fax is required")) return false;
            if (!validateRequired("ddlPortStatus", ["", "-1"], "Status is required")) return false;
            if (!validateRequired("txtPortAddress", ["", " "], "Address is required")) return false;
            return true;
        }

        /* ==============================
        ADD / UPDATE
        ================================*/
        $(document).on("click", "#btnPortAdd", function () {
            if (!validatePort()) return;
            let Status = $("#ddlPortStatus").val();
            let _ID = parseInt($("#hdnPortId").val()) || 0;
            let payload = {
                ID: _ID,
                CountryId: parseInt($("#ddlCountry").val()),
                PortName: $("#txtPortName").val().trim(),
                Email: $("#txtPortEmail").val().trim(),
                Contact: $("#txtPortContact").val().trim(),
                Fax: $("#txtPortFax").val().trim(),
                Address: $("#txtPortAddress").val().trim(),
                IsActive: Status === "1",
                CreatedBy: 0,
                UpdatedBy: 0
            };


            let url = payload.ID === 0 ? "/Ship/AddPort" : "/Ship/UpdatePort";

            $.ajax({
                url: url,
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(payload),
                success: function (res) {
                    let type =
                        res.status === 1 ? "success" :
                            (res.status === 2 || res.status === 3) ? "warning" :
                                res.status === -1 ? "info" : "error";

                    let title =
                        res.status === 1 ? "Success" :
                            (res.status === 2 || res.status === 3) ? "Already Exists" :
                                res.status === -1 ? "Not Found" : "Error";
                    if (res.status === 1) {
                        resetPortForm();
                        LoadPortList();
                    }
                    ShowToast(type, title, res.message);
                }
            });
        });

        /* ==============================
        EDIT
        ================================*/
        $(document).on("click", ".btnEdit", function () {
            let id = $(this).data("id");
            $.get("/Ship/GetPortById", { id }, function (res) {
                if (res.status === 1) {
                    let d = res.data;
                    $("#hdnPortId").val(d.id);
                    $("#ddlCountry").val(d.countryId);
                    $("#txtPortName").val(d.portName);
                    $("#txtPortEmail").val(d.email);
                    $("#txtPortContact").val(d.contact);
                    $("#txtPortFax").val(d.fax);
                    $("#txtPortAddress").val(d.address);
                    $("#ddlPortStatus").val(res.data.isActive ? "1" : "0");
                    $("#modalLabelPort").text("Edit Port");
                    $("#btnPortAdd").text("Update");

                    new bootstrap.Modal("#frmPortmaster").show();
                }
            });
        });

        /* ==============================
        DELETE
        ================================*/
        $(document).on("click", ".btnDelete", function () {
            let id = $(this).data("id");
            ShowConfirmToast("Delete this port?", () => {
                $.post("/Ship/DeletePort",
                    { Id: id },
                    function (res) {
                        let type = res.status === 1 ? "success" : res.status === -1 ? "warning" : "error";
                        let title = res.status === 1 ? "Deleted!" : res.status === -1 ? "Not Found!" : "Failed!";

                        ShowToast(type, title, res.message);

                        if (res.status === 1) {
                            LoadPortList();
                        }
                    },
                    "json"
                );
            });
        });

        /* ==============================
        RESET FORM
        ================================*/

        $(document).on("input change", "#frmPortmaster input, #frmPortmaster select", function () {
            $(this).removeClass("input-error");
            $(this).next(".error-text").remove();
        });
        $(document).on("click", '[data-bs-target="#frmPortmaster"]', function () {
            resetPortForm();
        });
        function resetPortForm() {

            $("#hdnPortId").val(0);
            $("#frmPortmaster input").val("");
            $("#frmPortmaster select").val("-1");
            $(".error-text").remove();
            $(".input-error").removeClass("input-error");

            $("#modalLabelPort").text("Add Port");
            $("#btnPortAdd").text("Submit");

            bootstrap.Modal.getInstance("#frmPortmaster")?.hide();
        }

        $(document).on("keyup", "#txtSearchPort", function () {
            let value = $(this).val().toLowerCase().trim();
            filteredPortData = portData.filter(row =>
                Object.values(row).some(v =>
                    String(v).toLowerCase().includes(value)
                )
            );
            currentPage = 1;
            RenderTable();
            renderPageInfo();
        });

    </script>
}

