@using System.Security.Claims
@{
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}
<div class="main-content-container overflow-hidden">
    <div class="d-flex justify-content-between align-items-center flex-wrap gap-2 mb-4 mt-1">
        <h5 class="mb-0">Ship Master</h5>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb align-items-center mb-0 lh-1">
                <li class="breadcrumb-item">
                    <a href="~/Admin/Dashboard" class="d-flex align-items-center text-decoration-none">
                        <i class="ri-home-8-line fs-15 text-primary me-1"></i>
                        <span class="text-body fs-14 hover">Dashboard</span>
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <span>Ship Master</span>
                </li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-xxl-12 col-lg-12 col-md-12 col-12">
            <div class="table-card">
                <div class="d-flex justify-content-between align-items-center flex-wrap gap-3 p-3">
                    <form class="table-src-form position-relative m-0">
                        <input type="text" id="txtSearchShip" class="form-control" placeholder="Search here...">
                        <div class="src-btn">
                            <span class="ti ti-search">search</span>
                        </div>
                    </form>
                    <button type="button" class="btn btn-md btn-primary" data-bs-toggle="modal" data-bs-target="#frmshipmaster"><i class="ti ti-plus"></i> Add Ship</button>
                </div>
                <div class="table-responsive">
                    <table id="VehicleStatusTable" class="table align-middle w-100">
                        <thead>
                            <tr>
                                <th scope="col" class="fw-medium">Sno</th>
                                <th scope="col" class="fw-medium">ShipName</th>
                                <th scope="col" class="fw-medium">ShipType</th>
                                <th scope="col" class="fw-medium">Shipping</th>
                                <th scope="col" class="fw-medium">Port</th>
                                <th scope="col" class="fw-medium">Terminal</th>
                                <th scope="col" class="fw-medium">Country</th>
                                <th scope="col" class="fw-medium">ShipUse</th>
                                <th scope="col" class="fw-medium"><abbr data-title="Departure Date">DDate</abbr></th>
                                <th scope="col" class="fw-medium"><abbr data-title="Arrival Date">ADate</abbr></th>
                                <th scope="col" class="fw-medium">Freight</th>
                                <th scope="col" class="fw-medium"><abbr data-title="Loading Capacity">Capacity</abbr></th>
                                <th scope="col" class="fw-medium"><abbr data-title="Date of Entry">DOE</abbr></th>
                                <th scope="col" class="fw-medium">Created by</th>
                                <th scope="col" class="fw-medium">Status</th>
                                <th scope="col" class="fw-medium">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-center justify-content-sm-between align-items-center text-center flex-wrap gap-2 showing-wrap px-3 pb-3">
                    <span class="fs-15" id="lblpagedescription">Showing 1 to 10 of 50 entries</span>
                    <nav class="custom-pagination" aria-label="Page navigation">
                        <ul class="pagination mb-0 justify-content-center" id="pagination">
                        </ul>
                    </nav>
                </div> 
            </div>
        </div>
    </div>
</div>

<!-- Modal Add New Task -->
<div class="modal fade" id="frmshipmaster" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mb-0" id="modalLabelShip">Add Ship</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ti ti-x"></i>
                </button>
            </div>
            <div class="modal-body p-3">
                <input type="hidden" id="hdnShipId" value="0" />
                <div class="row">
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label class="label">Ship Type</label>
                            <select class="form-select form-control" id="ddlShipType" aria-label="Floating label select example">
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label class="label">Shippng Name</label>
                            <select class="form-select form-control" id="ddlShippingName" aria-label="Floating label select example">
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label class="label">Port From</label>
                            <select class="form-select form-control" id="ddlPortfrom" aria-label="Floating label select example">
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label class="label">Terminal Name</label>
                            <select class="form-select form-control" id="ddlTerminal" aria-label="Floating label select example">
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label class="label">Country Name</label>
                            <select class="form-select form-control" id="ddlCountry" aria-label="Floating label select example">
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label class="label">Ship Name</label>
                            <input type="text" class="form-control" id="txtShipName" placeholder="Enter Ship Name">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label class="label">Departure Date</label>
                            <input type="date" class="form-control" id="txtDepDate" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label class="label">Arrival Date</label>
                            <input type="date" class="form-control" id="txtArvlDate" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label class="label">Ship Freight</label>
                            <input type="text" class="form-control only-number" data-maxlength="10" id="txtFreight" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label class="label">Loading Capacity</label>
                            <input type="text" class="form-control only-number" data-maxlength="8" id="txtLoadingCapacity" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label class="label">Ship Use</label>
                            <select class="form-select form-control" id="ddlShipUse" aria-label="Floating label select example">
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label class="label">Status</label>
                            <select class="form-select form-control" id="ddlShipStatus" aria-label="Floating label select example">
                                <option value="-1" selected>Select Staus</option>
                                <option value="1">Active</option>
                                <option value="0">In-Active</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer p-3">
                <button type="button" class="btn btn-md btn-danger fw-normal text-white" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-md btn-primary fw-normal text-white" id="btnShipAdd">Submit</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/common/dropdowns.js"></script>
    <script src="~/js/master/ship-master.js"></script>
}

